# This is a basic workflow that is manually triggered

name: build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python2
        uses: actions/setup-python@v3.1.2
        with:
          python-version: "2.7"

      - name: Setup Python3
        uses: actions/setup-python@v3.1.2
        with:
          python-version: "3.8"

      - name: Setup environment
        run: |
          sudo apt-get update        
          sudo apt-get install -y bc bison build-essential ccache curl flex g++-multilib gcc-multilib git gnupg gperf imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5 libncurses5-dev libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev autoconf

      - name: Clone repo
        run: |
          git clone --recurse-submodules https://github.com/xiaoxindada/magiskboot_ndk_on_linux.git magiskboot

      - name: Strart build
        run: |
          cd $GITHUB_WORKSPACE/magiskboot
          echo "MAGISK_VERSION=$(cat magisk_config.prop | grep "magisk.versionCode=" | cut -d '=' -f 2)" >> $GITHUB_ENV
          bash ./build.sh setup
          ls -al out/**

      - name: Compress out
        run: |
          cd $GITHUB_WORKSPACE/magiskboot
          7za a magiskboot.7z out/*

      - name: Upload output to GH-Release
        uses: ncipollo/release-action@v1.8.6
        with:
          artifacts: "${{ github.workspace }}/magiskboot/magiskboot.7z"
          name: "Magiskboot-${{ env.MAGISK_VERSION }}"
          tag: "Magiskboot-${{ env.MAGISK_VERSION }}-${{ github.run_number }}"
          bodyFile: "${{ github.workspace}}/magiskboot/out/magisk_version.txt"
          token: ${{ secrets.GITHUB_TOKEN }}
